/build/

.gradle/2.3/taskArtifacts/cache.properties

.gradle/2.3/taskArtifacts/cache.properties.lock

.gradle/2.3/taskArtifacts/fileHashes.bin

.gradle/2.3/taskArtifacts/fileSnapshots.bin

.gradle/2.3/taskArtifacts/outputFileStates.bin

.gradle/2.3/taskArtifacts/taskArtifacts.bin

.gradle/2.4/taskArtifacts/cache.properties

.gradle/2.4/taskArtifacts/cache.properties.lock

.gradle/2.4/taskArtifacts/fileHashes.bin

.gradle/2.4/taskArtifacts/fileSnapshots.bin

.gradle/2.4/taskArtifacts/outputFileStates.bin

.gradle/2.4/taskArtifacts/taskArtifacts.bin

.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs

.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs

.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs

.settings/org.eclipse.jdt.core.prefs

.project

.classpath

bin/templates/index.html

bin/static/js/uuid.js

bin/static/js/Tree.js

bin/static/js/javascript.js

bin/static/css/style.css

bin/org/gradle/Application.class

bin/org/gradle/DataBaseConnector.class

bin/org/gradle/resource.xml

bin/org/gradle/Task.class

bin/org/gradle/test-resource.xml

bin/org/gradle/WebController.class
