<!DOCTYPE html>

<html>

<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="css/style.css" />
<script src="js/jquery-1.12.1.min.js"></script>
<title>ToDo List</title>
</head>

<body onLoad="uncheck(); addListener('Active');">
	<div class="Grid">
		<div id="Header" class="Row">
			<div id="Name">
				<h1>Your's ToDo List</h1>
			</div>
			<div id="Signout">
				<a href="login">Sign out</a>
			</div>
		</div>
		<div id="Main" class="Row Expand">
			<div id="Inside" class="Grid">
				<div id="Menu" class="Column">
					<ul id="TimeFilter">
						<li>Inbox</li>
						<li>Today</li>
						<li>Next 7 days</li>
					</ul>

					<ul id="GroupFilter">
						<li>Projects</li>
						<li>Labels</li>
						<li>Filters</li>
					</ul>


				</div>
				<div id="Content" class="Column Expand">
					<h2>Name of current List</h2>
					<div class="inputFields">
						<input type="text" id="newTask"
							placeholder="What needs to be done?" /> <input class="controls"
							type="checkbox" id="checkAll" />
					</div>

					<div class="application">
						<ul id="ToDoList"></ul>

						<!-- 
					 	<li class="{{classValue}}" data-id="{{id}}">
					 		<div>
					 			<input {{status}} type="checkbox" class="checkbox"></input>
					 			<label class="label">{{text}}</label>
					 			<button class="destroy deleteButton" type="Delete">X</button>
					 			<input class="edit" type="text">
					 		</div>
					 	</li>';
					 -->
					</div>
					<div id="Controls">
						<button class="controls" name="ViewAllButton"
							onclick="showByStatus('All')">All</button>
						<button class="controls" name="ViewActiveButton"
							onclick="showByStatus('Active')">Active</button>
						<button class="controls" name="ViewCompletedButton"
							onclick="showByStatus('Completed')">Completed</button>
						<button class="controls" id="ClearCompletedButton"
							onclick="clearCompletedButton()">Clear Completed</button>
					</div>

					<div class="controls" id="counter"></div>

				</div>

				<div id="RSide" class="Column">
					<p></p>
				</div>
			</div>
		</div>
		<div id="Footer" class="Row">
			<p>
				Written by <a href="https://github.com/ryzhik">Anna Perova</a>
			</p>
		</div>
	</div>

	<script type="text/javascript" src="js/uuid.js"></script>
	<script type="text/javascript" src="js/javascript.js"></script>
	
</body>

</html>

