<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="css/style_login.css" />
<title>To Do List</title>
</head>
<body>
	<div id="form_block">
		<div id="Signin">
			<h2 id="login_title">LOGIN</h2>
			<form action="/" method="post">
				<label for="existing_login">Login:<br />
				<input type="text" id="existing_login" class="inputfield" name="login"/></label> <br />
				<label for="existing_password">Password:<br />
				<input type="text" id="existing_password" class="inputfield" name="password"/></label> <br />
				<input type="submit" value="Sigin" id="Signin_button" class="button" />
			</form>
		</div>


		<div id="Signup">
			<h2 id="registration_title">REGISTRATION</h2>
			<form action="/registration" method="post">
				<label for="new_login">Login:<br />
				<input type="text" id="new_login" class="inputfield" name="login"/></label> <br /> 
				<label for="new_password">Password:<br /> 
				<input type="text" id="new_password" class="inputfield" name="password"/></label> <br /> 
				<input type="submit" value="SignUp" id="Signup_button" class="button" />
			</form>
		</div>
	</div>
</body>
</html>